body {
  background-color: #555555;
}

.container {
  background: #FFFFFF;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid bl;
}

#main-heading {
  font-size: 32px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-items {
  background-color: white;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  color: black
}
