.div2{
    display: block;
    text-align: center;
    width: 30%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
}

.div1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    
}
.box{
    display: flex;
    justify-content: center;
}