.reveal-btn {
    position: relative;
    text-align: center;
    font-weight: bold;   
    color: aliceblue;
}

.hidden-content{
    display: none;
}

.hidden-content.reveal-btn{
    display: block;
}

body{
    background: #000;
}

.box{
    display: flex;
    justify-content: space-evenly;
}
.boxes {
    width: 30%;
    background-color: black;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
  }