.box {
    background-color: black;
    border: 2rem;
    border-color: aliceblue;
    padding: 80px;
    margin: 50px auto;
    width: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;   
    color: aliceblue;
}
.box:hover {
    background-color: grey;
}

body{
    background: #000;
}